@font-face { font-family: ZonaPro-Light; src: url('ZonaPro-Light.otf'); } 
@font-face { font-family: ZonaPro-Light; font-weight: bold; src: url('ZonaPro-Light.otf');}
@media only screen
and (min-width:300px) {
    Body {
        margin: 0;
        padding: 0;
    } 
    .Container {
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        height: auto;
        overflow: auto;
        overflow-x: hidden;
    }  
    Header {
        width: 100%;
        height: 80px;
        background: rgba(0,0,0,0.5);
        border-bottom: 2px white solid;
        position: fixed;
        z-index: +999;
    }
    #Logo_Icon {
        width: 25%;
        height: 100%;
        background: #414042;
        float: left;
    }
    #Logo_Icon img {
        width: 100%;
        height: 100%;
    }
    #Menu_Icon {
        width: 25%;
        height: 100%;
        background: rgba(255,255,255,1);
        float: right;
        box-sizing: border-box;
        padding: 10px 5px;
        position: relative;
        cursor: pointer;
        transition: all linear 300ms;
    }
    .Menu {
        width: 60%;
        margin: 0 auto;
        position: relative;
    }
     
        
        /* The sub class for the menu line begins here 
        .Menu-Line {
            width: 100%;
            height: 2px;
            background: #000000;
            margin-top: 15px;
            transition: all linear 300ms;
        }
        .Menu-Line:first-child{
            margin-top: 10%;
        } */
        .ML1 {
            height: .10em;
            width: 100%;
            background: black;
            margin: 0 auto;
            margin-top: 10px;
            transition: all ease 400ms;
        }
        .ML2 {
            height: .10em;
            width: 100%;
            background: black;
           margin: 0 auto;
            margin-top: 15px;
            transition: all ease 400ms;
        }
        .ML3 {
            height: .10em;
            width: 100%;
            background: black;
            margin: 0 auto;
            margin-top: 15px;
            transition: all ease 400ms;
        }
        .MLOne{
            -webkit-transform-origin: top left;
            -moz-transform-origin: top left;
            -ms-transform-origin: top left;
            -o-transform-origin: top left;
            transform-origin: top left;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 70px;
            margin: 0 auto;
            height: .10em;
            margin-left: 10%;
            margin-top: 8%;
        }
        .MLTwo {
            display: none;
        }
        .MLThree{
            -webkit-transform-origin: bottom left;
            -moz-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            transform-origin: bottom left;
            transform: rotate(-45Deg);
            -webkit-transform: rotate(-45Deg);
            -moz-transform: rotate(-45Deg);
            -ms-transform: rotate(-45Deg);
            transform: rotate(-45Deg);
            width: 70px;
            transition: all ease 400ms;
            margin: 0 auto;
            margin-top:47px;
            margin-left: 10%;
            height: .10em;
        }
        /* End of that styling */
.Phone_Nav_Bar {
    width: 75%;
    height: auto;
    overflow: auto;
    background: #F69240;
    position: absolute;
    border-left: 5px #4c4c4c solid;
    right: -90%;
    top: 82px;
    transition: all linear 300ms;
}
.Toggled-Phone-Nav {
    right: 0%;
    z-index: +999;
}
.Phone_Nav_Bar ul {
    padding: 0;
    margin: 0;
}
.Phone_Nav_Bar ul li {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    text-align: left;
    border-bottom: 5px white solid;
    cursor: pointer;
}
.Phone_Nav_Bar ul li:hover {
    background: #4c4c4c;
}
.Phone_Nav_Bar ul a {
    font-size: 22px;
    text-decoration: none;
    font-family: sans-serif; 
    color: #fff;
    font-size: 22px;
    margin: 0;
}
.Phone_Nav_Bar ul li:hover a {
    color: #ffffff;
}
.Sub-Nav-Text {
    width: 50%;
    float: right;
    margin-right: 10%;
    color: #4c4c4c;
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 14px;
    opacity: .7;
    transition: all linear 400ms;
}
.Phone_Nav_Bar ul li:hover .Sub-Nav-Text {
    opacity: 1;
    color: rgba(255,255,255,0.9);
    font-size: 15px; margin-left: -10px;
}
/* Content Container + Children Element Styling Here */
.Desktop_Nav_Bar {
        display: none;
    }
.Content-Container {
    width: 100%;
    height: auto;
    overflow: auto;
}
.Hero-Element {
    width: 100%;
    height: auto;
    overflow: auto;
    background:#fff;
    background-size: cover;
    background-position: 0px;
    float: left;
    margin-bottom: 8px;
    transition: all linear 300ms;
    position: relative;
    margin-top: 100px;
}
    .Form-Container {
        width: 100%;
        height: auto;
        overflow: auto;
        box-sizing: border-box;
        padding: 10px;
    }
    form {
        width: 100%;
        height: auto;
        overflow: auto;
    }
    table {
        width: 100%;
        height: auto;
        overflow: auto;
    }
    tr {
        margin:100px;
    }
    table tr td:first-child {
        width: 40%;
        color: white;
        padding-top: 20px;
    }
    table tr td:nth-child(2) {
        width: 60%;
        color: white;
        padding-top: 20px;
    }
    table td label {
        font-size: 20px;
        font-family: "ZonaPro-Light";
        margin-top: 20px;
    }
    table td input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
        margin-top: 0px;
    }
    table td textarea {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
    }
    table tr:nth-child(4) {
        width: 100%;
    }
    table tr:nth-child(4) td:nth-child(1) {
        width: 15%;
    }
    table tr:nth-child(4) td:nth-child(2) {
        width: 30%;
    }
    #Submit-Input {
        padding: 5px;
        padding-bottom: 10px;
        border-radius: 0px;
        border: white 1px solid;
        text-align: center;
        box-sizing: border-box;
        background: #F69240;
        color: white;
        transition: all linear 300ms;
        cursor: pointer;
    }
    table td label {
        font-size: 20px;
        font-family: "ZonaPro-Light";
        margin-top: 20px;
        text-align: right;
        color: #4c4c4c;
    }
    table td input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
        margin-top: 0px;
        border: none;
        border-bottom: 1px #8570B2 solid;
    }
    table td textarea {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
        border: none;
        border-bottom: 1px #8570B2 solid;
    }
    .Contact-Info {
        width: 100%;
        float: left;
        height: auto;
        overflow: auto;
        box-sizing: border-box;
        padding: 10px;
        font-family: "ZonaPro-Light";
        margin: 50px 0px;
        background-color: #17A7BF;
        
    }
    .CI-Card {
        width: 100%;
        height: auto;
        overflow: auto;
        float: left;
        padding: 20px 0px;
        text-align: center;
        background: rgba(255,255,255,0.0);
        margin-bottom: 5px;
        color: white;
        box-sizing: border-box;
        border-left: 0px solid #FFF;
    }
    .icons {
        width: 30px;
        height: 30px;
        float: left;
        margin-top: -5px;
    }
    .CI-Text {
        width: 90%;
        float: left;
        text-align: center;
        padding-left: 10px;
        box-sizing: border-box;
    }
    
/* End of Content Container + Children Element Styling */

/* Start of Footer Styling */
Footer {
    width: 100%;
    height: auto;
    background: #414042;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 8px;
}
.Partnership-Container {
    width: 100%;
    height: auto;
    overflow: auto;
}
.Partnerships {
    height: auto;
    overflow: auto;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.P-Title {
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
}
.P-Image {
    width: 30%;
    height: auto;
    background: #58595B;
    float: left;
    border: 1px white solid;
    box-sizing: border-box;
}
.P-Text {
    width: 70%;
    height: auto;
    background:;
    box-sizing: border-box;
    float: left;
    padding: 5px 10px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 100;
}
.P-Text a {
        color: #F69240;
    }
.Contact {
    width: 100%;
    height: auto;
    overflow: auto;
    border-top: 1px white solid;
}
.C-Text {
    width: 100%;
    height: auto;
    background:;
    box-sizing: border-box;
    float: left;
    padding: 5px 10px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 100;
}
.Social {
    width: 100%;
    height: auto;
    overflow: auto;
    border-top: 1px white solid;
}
.SI-Container {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    float: left;
}
.Social-Icon {
    width: 60px;
    height: 60px;
    background:#58595B;
    box-sizing: border-box;
    border: 0px white solid;
    margin: 0 auto;
    color: #ffffff;
}
/* For Chrome 
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .Social-Icon {
    width: 100px;
    height: 100px;
    background:#58595B;
    box-sizing: border-box;
    border: 1px white solid;
    float: left;
    color: #ffffff;
    margin-left: 12vw;
    margin-top: 30px; 
}
    */

.Important {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: 30px;
    border-top: 1px white solid;
}
    .small {
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 20px; 
        font-family: sans-serif;
        font-weight: 100;
    }
    .info {
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 20px; 
        font-family: sans-serif;
        font-weight: 100;
    }
/* End of Footer Styling */
}
@media only screen
and (min-width:600px) {
    Body {
        margin: 0;
        padding: 0;
    } 
    .Container {
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        height: auto;
        overflow: auto;
        overflow-x: hidden;
    }  
    Header {
        width: 100%;
        height: 80px;
        background: rgba(0,0,0,0.5);
        border-bottom: 2px white solid;
        position: fixed;
        z-index: +999;
    }
    #Logo_Icon {
        width: 25%;
        height: 100%;
        background: #414042;
        float: left;
    }
    #Logo_Icon img {
        width: 100%;
        height: 100%;
    }
    #Menu_Icon {
        width: 25%;
        height: 100%;
        background: rgba(255,255,255,1);
        float: right;
        box-sizing: border-box;
        padding: 10px 5px;
        position: relative;
        cursor: pointer;
        transition: all linear 300ms;
    }
    .Menu {
        width: 40%;
        margin: 0 auto;
        position: relative;
    }
     
        
        /* The sub class for the menu line begins here 
        .Menu-Line {
            width: 100%;
            height: 2px;
            background: #000000;
            margin-top: 15px;
            transition: all linear 300ms;
        }
        .Menu-Line:first-child{
            margin-top: 10%;
        } */
        .ML1 {
            height: .10em;
            width: 100%;
            background: black;
            margin: 0 auto;
            margin-top: 10px;
            transition: all ease 400ms;
        }
        .ML2 {
            height: .10em;
            width: 100%;
            background: black;
           margin: 0 auto;
            margin-top: 15px;
            transition: all ease 400ms;
        }
        .ML3 {
            height: .10em;
            width: 100%;
            background: black;
            margin: 0 auto;
            margin-top: 15px;
            transition: all ease 400ms;
        }
        .MLOne{
            -webkit-transform-origin: top left;
            -moz-transform-origin: top left;
            -ms-transform-origin: top left;
            -o-transform-origin: top left;
            transform-origin: top left;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 70px;
            margin: 0 auto;
            height: .10em;
            margin-left: 10%;
            margin-top: 8%;
        }
        .MLTwo {
            display: none;
        }
        .MLThree{
            -webkit-transform-origin: bottom left;
            -moz-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            transform-origin: bottom left;
            transform: rotate(-45Deg);
            -webkit-transform: rotate(-45Deg);
            -moz-transform: rotate(-45Deg);
            -ms-transform: rotate(-45Deg);
            transform: rotate(-45Deg);
            width: 70px;
            transition: all ease 400ms;
            margin: 0 auto;
            margin-top:47px;
            margin-left: 10%;
            height: .10em;
        }
        /* End of that styling */
.Phone_Nav_Bar {
    width: 75%;
    height: auto;
    overflow: auto;
    background: #F69240;
    position: absolute;
    border-left: 5px #4c4c4c solid;
    right: -90%;
    top: 82px;
    transition: all linear 300ms;
}
.Toggled-Phone-Nav {
    right: 0%;
    z-index: +999;
}
.Phone_Nav_Bar ul {
    padding: 0;
    margin: 0;
}
.Phone_Nav_Bar ul li {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    text-align: left;
    border-bottom: 5px white solid;
    cursor: pointer;
}
.Phone_Nav_Bar ul li:hover {
    background: #4c4c4c;
}
.Phone_Nav_Bar ul a {
    font-size: 22px;
    text-decoration: none;
    font-family: sans-serif; 
    color: #fff;
    font-size: 22px;
    margin: 0;
}
.Phone_Nav_Bar ul li:hover a {
    color: #ffffff;
}
.Sub-Nav-Text {
    width: 50%;
    float: right;
    margin-right: 10%;
    color: #4c4c4c;
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 14px;
    opacity: .7;
    transition: all linear 400ms;
}
.Phone_Nav_Bar ul li:hover .Sub-Nav-Text {
    opacity: 1;
    color: rgba(255,255,255,0.9);
    font-size: 15px; margin-left: -10px;
}
/* Content Container + Children Element Styling Here */
.Desktop_Nav_Bar {
        display: none;
    }
.Content-Container {
    width: 100%;
    height: auto;
    overflow: auto;
}
.Hero-Element {
    width: 100%;
    height: auto;
    overflow: auto;
    background:#414042;
    background-size: cover;
    background-position: 0px;
    float: left;
    margin-bottom: 8px;
    transition: all linear 300ms;
}
    .Content-Container {
    width: 100%;
    height: auto;
    overflow: auto;
}
.Hero-Element {
    width: 100%;
    height: auto;
    overflow: auto;
    background:#fff;
    background-size: cover;
    background-position: 0px;
    float: left;
    margin-bottom: 8px;
    transition: all linear 300ms;
    position: relative;
}
    .Form-Container {
        width: 100%;
        height: auto;
        overflow: auto;
        box-sizing: border-box;
        padding: 30px;
    }
    form {
        width: 100%;
        height: auto;
        overflow: auto;
    }
    table {
        width: 80%;
        height: auto;
        overflow: auto;
        margin: 0 auto;
    }
    tr {
        margin:100px;
    }
    table tr td:first-child {
        width: 20%;
        color: white;
        padding-top: 20px;
    }
    table tr td:nth-child(2) {
        width: 60%;
        color: white;
        padding-top: 20px;
    }
    table td label {
        font-size: 20px;
        font-family: "ZonaPro-Light";
        margin-top: 20px;
    }
    table td input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
        margin-top: 0px;
    }
    table td textarea {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
    }table tr:nth-child(4) {
        width: 100%;
    }
    table tr:nth-child(4) td:nth-child(1) {
        width: 15%;
    }
    table tr:nth-child(4) td:nth-child(2) {
        width: 30%;
    }
    #Submit-Input {
        padding: 5px;
        padding-bottom: 10px;
        border-radius: 0px;
        border: white 1px solid;
        text-align: center;
        box-sizing: border-box;
        background: #F69240;
        color: white;
        transition: all linear 300ms;
        cursor: pointer;
    }
    table td label {
        font-size: 20px;
        font-family: "ZonaPro-Light";
        margin-top: 20px;
        text-align: right;
        color: #4c4c4c;
    }
    table td input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
        margin-top: 0px;
        border: none;
        border-bottom: 1px #8570B2 solid;
    }
    table td textarea {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
        border: none;
        border-bottom: 1px #8570B2 solid;
    }
    .Contact-Info {
        width: 100%;
        float: left;
        height: auto;
        overflow: auto;
        box-sizing: border-box;
        padding: 10px;
        font-family: "ZonaPro-Light";
        margin: 50px 0px;
        background-color: #17A7BF;
        
    }
    .CI-Card {
        width: 50%;
        height: 100px;
        overflow: auto;
        float: left;
        padding: 20px 0px;
        text-align: center;
        background: rgba(255,255,255,0.0);
        margin-bottom: 5px;
        color: white;
        box-sizing: border-box;
        border-left: 1px solid #FFF;
    }
    .icons {
        width: 30px;
        height: 30px;
        float: left;
        margin-top: -5px;
    }
    .CI-Text {
        width: 90%;
        float: left;
        text-align: center;
        padding-left: 10px;
        box-sizing: border-box;
    }
/* End of Content Container + Children Element Styling */

/* Start of Footer Styling */
Footer {
    width: 100%;
    height: auto;
    background: #414042;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 8px;
}
.Partnership-Container {
    width: 100%;
    height: auto;
    overflow: auto;
    padding-bottom: 20px;
    
}
.Partnerships {
    height: auto;
    padding: 10px;
    overflow: auto;
    width: 100%;
    float: left;
    box-sizing: border-box;
    
}
.P-Title {
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
}
.P-Image {
    width: 150px;
    height: 150px;
    background: #58595B;
    float: left;
    border: 1px white solid;
    box-sizing: border-box;
    overflow: hidden;
}
.P-Text {
    width: 70%;
    height: 100px;
    background:;
    box-sizing: border-box;
    float: left;
    padding: 5px 10px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 100;
}
    .P-Text a {
        color: #F69240;
    }
.Contact {
    width: 50%;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    float: left;
    border-top: 1px white solid;
}
.C-Text {
    width: 100%;
    height: auto;;
    background:;
    box-sizing: border-box;
    float: left;
    padding: 5px 10px;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
}
.Social {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    float: left;
    overflow: auto;
    border-top: 1px white solid;
    padding-bottom: 20px;
    border-left: 1px white solid;
}
.SI-Container {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    padding: 50px 20%;
    float: left;
}
.Social-Icon {
    width: 50px;
    height: 50px;
    background:#58595B;
    box-sizing: border-box;
    border: 1px white solid;
    float: left;
    color: #ffffff; 
}
/* For Chrome 
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .Social-Icon {
    width: 50px;
    height: 50px;
    background:#58595B;
    box-sizing: border-box;
    border: 1px white solid;
    float: left;
    color: #ffffff;
    margin-left: 27%;
    margin-top: 30px; 
}
}
    */

.Important {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: 30px;
    border-top: 1px white solid;
}
    .small {
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 20px; 
        font-family: sans-serif;
        font-weight: 100;
    }
    .info {
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 20px; 
        font-family: sans-serif;
        font-weight: 100;
    }
/* End of Footer Styling */
}
@media only screen
and (min-width:1100px) { 
    Body {
        margin: 0;
        padding: 0;
    } 
    .Container {
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        height: auto;
        overflow: auto;
        overflow-x: hidden;
    }  
    Header {
        width: 100%;
        height: 50px;
        background: rgba(0,0,0,0.5);
        border-bottom: 1px white solid;
        position: fixed;
        max-width: 1500px;
        z-index: +999;
    }
    ActivePage {
        background: rgba(255,255,255,0.7);
        color: black;
    }
    #Logo_Icon {
        width: 10%;
        height: 100%;
        background: rgba(0,0,0,0.1);
        float: left;
    }
    #Logo_Icon img {
        width: 100%;
        height: 100%;
    }
    #Menu_Icon {
        width: 25%;
        height: 100%;
        background: #E6E7E8;
        float: right;
        box-sizing: border-box;
        padding: 10px 5px;
        position: relative;
        cursor: pointer;
        transition: all linear 300ms;
        display: none;
    }
    #Menu_Icon:Hover {
        background: rgba(0,0,0,0.4);
    }
        
.Phone_Nav_Bar {
    width: 75%;
    height: 100px;
    background: #000;
    position: relative;
    float: left;
    display: none;
    border-left: 5px #4c4c4c solid;
    transition: all linear 300ms;
}
.Toggled-Phone-Nav {
    right: 0%;
    z-index: +999;
}
.Phone_Nav_Bar ul {
    padding: 0;
    margin: 0;
}
.Phone_Nav_Bar ul li {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    text-align: left;
    border-bottom: 5px white solid;
    cursor: pointer;
}
.Phone_Nav_Bar ul li:hover {
    background: #4c4c4c;
}
.Phone_Nav_Bar ul li a {
    font-size: 22px;
    text-decoration: none;
    font-family: sans-serif; 
    color: #4c4c4c;
    font-size: 22px;
    margin: 0;
}
.Phone_Nav_Bar ul li:hover a {
    color: #ffffff;
}
.Sub-Nav-Text {
    width: 50%;
    float: right;
    margin-right: 10%;
    color: #4c4c4c;
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 14px;
    opacity: .7;
    display: none;
    transition: all linear 400ms;
}
.Phone_Nav_Bar ul li:hover .Sub-Nav-Text {
    opacity: 1;
    color: rgba(255,255,255,0.9);
    font-size: 18px; margin-left: -10px;
}
.Desktop_Nav_Bar {
    width: 50%;
    height: 100%;
    background:;
    position: relative;
    float: right;
    display: block;
}
.Desktop_Nav_Bar ul {
    height: auto;
    overflow: auto;
    padding: 0;
    margin-top: 0px;
}
.Desktop_Nav_Bar ul li {
    list-style: none;
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 12px 10px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    transition: all linear 200ms;
}
.Desktop_Nav_Bar ul li:hover {
    background: rgba(76, 76, 76,0.8);
}

.Desktop_Nav_Bar ul a {
    font-size: 22px;
    text-decoration: none;
    font-family: ZonaPro-Light;  
    color: #E5E5E5;
    font-size: 22px;
    margin: 0;
}
#ActivePage {
        background: rgba(255,255,255,0.0);
        color: #FDCF93;
    }
    #ActiveA {
        color: #FDCF93;
    }
.Desktop_Nav_Bar ul li:hover a {
    color: #ffffff;
}
/* Content Container + Children Element Styling Here */

.Content-Container {
    width: 100%;
    height: auto;
    overflow: auto;
}
.Hero-Element {
    width: 100%;
    height: auto;
    overflow: auto;
    background:white;
    background-size: 7%;
    background-position: 0px;
    float: left;
    margin-bottom: 8px;
    margin-top: 50px;
    transition: all linear 300ms;
}
    .Form-Container {
        width: 80%;
        height: auto;
        overflow: auto;
        box-sizing: border-box;
        padding: 10px;
        margin: 0 auto;
        margin-top: 50px;
        background: rgba(255,255,255,0.9);
    }
    form {
        width: 100%;
        height: auto;
        overflow: auto;
    }
    table {
        width: 100%;
        height: auto;
        overflow: auto;
        float: left;
        box-sizing: border-box;
    }
    tr {
        margin:0px;
        width: 50%;
        float: left;
    }
    table tr td:first-child {
        width: 30%;
        color: white;
        padding-top: 20px;
        box-sizing: border-box;
        float: left;
        padding-left: 20px;
        padding-top: 25px;
    }
    table tr td:nth-child(2) {
        width: 60%;
        color: white;
        padding-top: 20px;
        box-sizing: border-box;
        float: left;
    }
    table tr:nth-child(3) {
        width: 100%;
    }
    table tr:nth-child(3) td:first-child {
        width: 15%;
    }
    table tr:nth-child(3) td:nth-child(2) {
        width: 80%;
    }
    table tr:nth-child(4) {
        width: 100%;
    }
    table tr:nth-child(4) td:nth-child(1) {
        width: 15%;
    }
    table tr:nth-child(4) td:nth-child(2) {
        width: 30%;
    }
    #Submit-Input {
        padding: 5px;
        padding-bottom: 10px;
        border-radius: 0px;
        border: white 1px solid;
        text-align: center;
        box-sizing: border-box;
        background: #F69240;
        color: white;
        transition: all linear 300ms;
        cursor: pointer;
    }
    #Submit-Input:hover {
        background: #D88038;
    }
    table td label {
        font-size: 20px;
        font-family: "ZonaPro-Light";
        margin-top: 20px;
        text-align: right;
        color: #4c4c4c;
    }
    table td input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
        margin-top: 0px;
        border: none;
        border-bottom: 1px #8570B2 solid;
    }
    table td textarea {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        padding-left: 5px;
        font-size: 16px;
        font-family: "ZonaPro-Light";
        border: none;
        border-bottom: 1px #8570B2 solid;
    }
    .Contact-Info {
        width: 100%;
        float: left;
        height: auto;
        overflow: auto;
        box-sizing: border-box;
        padding: 10px;
        font-family: "ZonaPro-Light";
        margin: 50px 0px;
        background-color: #17A7BF;
        
    }
    .CI-Card {
        width: 25%;
        height: auto;
        overflow: auto;
        float: left;
        padding: 20px 0px;
        text-align: center;
        background: rgba(255,255,255,0.0);
        margin-bottom: 5px;
        color: white;
        border-left: 1px solid #FFF;
    }
    .icons {
        width: 30px;
        height: 30px;
        float: left;
        margin-top: -5px;
    }
    .CI-Text {
        width: 80%;
        float: left;
        text-align: left;
        padding-left: 10px;
        font-size: 15px;
        box-sizing: border-box;
    }
/* End of Content Container + Children Element Styling */

/* Start of Footer Styling */
Footer {
    width: 100%;
    height: auto;
    overflow: auto;
    background: #3A3A3C;
    box-sizing: border-box;
    border-top: 5px white solid;
    padding: 15px;
    margin-top: 8px;
}
.Partnership-Container {
    width: 38%;
    height: auto;
    overflow: auto;
    padding-bottom: 0px;
    padding-left: 20px;
    box-sizing: border-box;
    border-left: 1px white solid;
    float: right;
    
}
.Partnerships {
    height: auto;
    padding: 10px;
    overflow: auto;
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.P-Text {
    width: 70%;
    height: 100px;
    background:;
    box-sizing: border-box;
    float: left;
    padding: 5px 10px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 100;
}
    .P-Text a{
        color: #8570B2;
    }
.P-Image {
    width: 100px;
    height: 100px;
    background: #58595B;
    float: left;
    border: 1px white solid;
    box-sizing: border-box;
    overflow: hidden;
}
.P-Text {
    width: 70%;
    height: auto;
    background:;
    box-sizing: border-box;
    float: left;
    padding: 5px 10px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 100;
}
    .P-Text a {
        color: #F69240;
    }
.Contact {
    width: 30%;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    float: left;
    border-top: none;
}
.C-Text {
    width: 100%;
    height: auto;;
    background:;
    box-sizing: border-box;
    float: left;
    padding: 5px 10px;
    color: #ffffff;
    text-align: left;
    font-family: sans-serif;
    font-weight: 100;
}
.Social {
    width: 30%;
    height: auto;
    box-sizing: border-box;
    float: left;
    overflow: auto;
    border-top: none;
    padding-bottom: 20px;
    border-left: 1px white solid;
}
.SI-Container {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 20%;
    float: left;
}
.Social-Icon {
    width: 50px;
    height: 50px;
    background:#58595B;
    box-sizing: border-box;
    border: 0px white solid;
    float: left;
    color: #ffffff; 
}
/* For Chrome 
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .Social-Icon {
    width: 50px;
    height: 50px;
    background:#58595B;
    box-sizing: border-box;
    border: 1px white solid;
    float: left;
    color: #ffffff;
    margin-left: 27%;
    margin-top: 30px; 
}
}
    */

.Important {
    width: 60%;
    height: auto;
    overflow: auto;
    margin-top: 30px;
    border-top: 1px white solid;
}
        .small {
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 120px; 
        font-family: sans-serif;
        font-weight: 100;
    }
    .info {
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 60px; 
        font-family: ZonaPro-Light;
        font-size: 18px;
        font-weight: 100;
    }
/* End of Footer Styling */
}